<div class="section">
    <div class="container">
        <h1 class="title">Welcome to {{ obj.name }}</h1>
        <h2 class="subtitle">
          Example & test page for soft
        </h2>
        <div class="columns">
            <div class="column">
                <div class="control">
                    <input class="input is-primary" type="text" soft-on="focus:obj.seen=true;blur:obj.seen=false" soft-model="obj.name" />
                </div>
                <div class="notification is-info" soft-show="obj.seen">Yes, change it</div>
            </div>
            <div class="column">
                <div class="control">
                    <input type="text" class="input" soft-model="obj.name" />
                </div>
            </div>
        </div>
        <div class="gmn-section">
            <button class="button btn" soft-on-event="click:additem">Add thing</button>
            <button class="button btn is-light" soft-class="'is-danger':items.length == false" soft-click="clear()">Clear things</button>
            
            <div style="display: inline-block;" class="is-pulled-right">
                <div class="choice" soft-for="creation:creations">
                    <label class="checkbox">
                        <input type="checkbox" soft-on='change:creation.change(creation)' soft-model="creation.active" />
                        {{creation.label}}
                    </label><br>
                    <div class="choice" soft-for="item:creation.values">
                        <label class="checkbox">
                            <input type="checkbox" soft-enabled="creation.active" soft-model="item.value" />
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="choice is-pulled-right">
                <label class="checkbox">
                    <input type="checkbox" soft-model="options.panel.selected" />
                    {{options.panel.label}}
                </label><br>
                <label class="checkbox">
                    <input type="checkbox" soft-enabled="options.panel.selected"  soft-model="options.something.selected" />
                    {{options.something.label}}
                </label>
            </div>
        </div>
        <div class="notification is-light is-primary" soft-class="'is-primary':items.length" soft-show="options.panel.selected">
            You have {{ items.length }} things.
        </div>
        <div soft-for="item:items">
            <div class="go-thing is-info">
                <a soft-click="close(item)" class="delete"></a>
                <thing-item tilt={getTilt()} item="{item}"></thing-item>
            </div>
        </div>
    </div>
</div>

